<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h2>로그인</h2>
<form action="/member/login" method="post">
  이메일: <input type="text" name="email"> <br>
  비밀번호: <input type="password" name="password"> <br>
  <input type="submit" value="로그인">
</form>

<!-- 로그인 실패 시 alert 실행 -->
<script th:if="${loginError != null}" th:inline="javascript">
    alert(/*[[${loginError}]]*/);
</script>

<!-- 리뷰 작성은 로그인 후에 가능 -->
<script th:if="${error != null}" th:inline="javascript">
    alert(/*[[${error}]]*/);
</script>

</body>
</html>